* {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

#checkMe {
    margin-top: 10px;
    float: left;
}


.btn-black,
#darkMode2 {
    padding: 5px;
    background-color: black;
    color: white;
}

#lightMode2 {
    padding: 5px;
    background-color: white;
    color: black;
}

.selected {
    background-color: gray !important;
    text-decoration: line-through;
}

#drkMode {
    background-image: linear-gradient(110deg, rgb(19, 18, 18) 70%, #485461 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 1500px;
    text-align: center;
}

#lgtMode {
    background-image: linear-gradient(110deg, rgb(83, 49, 236), #6610f2);
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 1500px;
    text-align: center;
}

.h1-heading {
    margin-top: 20px;
    font-weight: 700;
}

.h3-secondary {
    color: white;
}

.user-img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#close-btn {
    width: 100px;
    padding: 5px;
}

#addBtn {
    padding: 10px;
}


.ddBtn {
    padding: 15px;
    width: 100%;
}

#opnBtn {
    padding: 15px;
    width: 50%;
    border: white solid 1px;
}

#lrgBtn {
    padding: 15px;
    width: 25%;
    border: white solid 1px;
}

#lightMode {
    padding: 15px;
    width: 20%;
    background-color: white;
    color: black;
    border: white solid 1px;

}

#ulMode {
    width: 100%;
    padding: 15px;
    font-weight: bold;

}

#ulMode:hover {
    color: black;
}

.btn-dark,
#darkMode {
    padding: 15px;
    width: 20%;
    background-color: black;
    color: white;
    border: grey solid 1px;
}

ul {
    list-style: none;
}

#listss {
    display: none;
    list-style: none;
    width: 25%;
    float: right;
    margin-right: 165px;
    margin-top: -23px;
}


.btn {
    font-weight: bold;
}



.task-name {
    font-size: 16px;
    font-weight: bold;
}

.noTaskss {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

#modalLayout {
    top: 20%;
    left: 0;
}

.card {
    padding-top: 10px;
    width: 100%;
}

.alert-light {
    background-color: white;
    color: #3210f2;
    border: #6610f2 3px dotted;
}

#plcHld {
    height: 38px;
    width: 180px;
}

#playDiv {
    margin: auto;
}

.btnplay,
.btnclear {
    color: white;
    border: white solid 1px;

}

.checkme {
    margin-top: 10px;
    display: inline;
    float: left;

}

@media (max-width:900px) {
    #lrgBtn {
        padding: 5px;
        width: 30%;
    }

    #opnBtn {
        padding: 5px;
        width: 30%;
    }

    #darkMode {
        padding: 5px;
        width: 25%;
    }

    #listss {
        width: 30%;
        margin-right: 137px;
    }

    #lightMode {
        padding: 5px;
        width: 20%;
    }

    #plcHld {
        width: 120px;
    }
}

@media (max-width:768px) {
    #plcHld {
        width: 80px;
    }

    #listss {
        margin-right: 157px;
    }
}

@media (max-width:600px) {
    #listss {
        margin-right: 187px;
    }

    .btn-black2 {
        background-color: black;
        color: white;
        margin-left: 16px;
    }
}

@media (max-width:480px) {
    .h1-heading {
        font-size: 80px;
    }

    #plcHld {
        width: 70px;
    }

    #lrgBtn {
        width: 26%;
    }

    #opnBtn {
        width: 30%;
    }

    #darkMode {
        width: 24%;
    }

    #listss {
        margin-right: 152px;
        width: 26%;
    }

    .btn-black2 {
        margin-top: 2px;
        margin-left: 6px;
    }

    #lightMode {
        padding: 2px;
        width: 21%;
    }
}

@media (max-width:320px) {
    .h1-heading {
        font-size: 60px;
    }

    .h3-secondary {
        font-size: 20px;
    }

    #darkMode {
        width: 30%;
        padding: 6px;
    }

    #lrgBtn {
        width: 30%;
    }

    #opnBtn {
        width: 35%;
    }

    #listss {
        margin-right: 99px;
    }

    #plcHld {
        width: 50px;
    }

    .btn-black2 {
        margin-left: 6px;
    }

    #lightMode {
        padding: 5px;
        width: 25%;
    }

    #h5heading {
        padding-left: 40px;
    }

    #darkMode2 {
        width: 40%;
    }
    #close-btn {
        padding: 17px;
    }
    #lightMode2 {
        width: 40%;
    }
}